<h1>Send Dropbox Invite</h1>

<%= form_with(model: @invite, url: invites_path, local: true) do |form| %>
  <% if @invite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invite.errors.count, "error") %> prohibited this invite from being saved:</h2>

      <ul>
        <% @invite.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit 'Send Invite' %>
  </div>
<% end %>

<%= link_to 'Authorize Dropbox', get_token_invites_path %>
